/* primary font and font color throughout app */
body {
  font-family: sans-serif;
  background: #8bf0c5;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* color of the navbackground */
.nav-color {
  background: #31eca7;
}

/* primary color of the text throughout the application */
.primary-text-color {
  color: #147444;
}

/* color of buttons that generate quotes */
.button-color {
  background: #7872ac;
}

/* top margin to move the text on the home page down */
.top-margin {
  margin-top: 1.5em;
}

/* css for the footer component */
.page-footer {
  position:fixed;
  bottom:0;
  width: 100%;
}

/* background color of where the quote will be displayed */
.quote-display-background {
  background: #252f2d;
}

/* color of quote text */
.quote-text-color {
  color: white;
}

/* size of quote box */
.quote-box-margin {
  padding: 1.5em;
}

/* shape of quote box */
.quote-box-shape {
  border-radius: 35px;
}

